@import "mixins";

@import "tooltip";
@import "modals";

@import (less) "../node_modules/leaflet/dist/leaflet.css";
@import "timeline";

.atlastory-map,
.modal {
  color: @text-color;
  font-family: @font-family-base;
  font-size: @font-size-base;
  line-height: @line-height-base;

  a {
    color: @link-color;
    text-decoration: none;
    border: none;
    &:hover, &:focus {
      color: @link-hover-color;
      text-decoration: underline;
      border: none;
    }
  }
}

.atlastory-map {
  background: @gray-lighter;
  overflow: hidden;
}

#mapView {
  width: 100%;
  height: 100%;
}

a.read-more {
  display: block;
  text-align: right;
}

@logo-normal-size: 0.8;
@logo-retina-size: 0.8;
.leaflet-container .map-logo {
  width: 175px * @logo-normal-size;
  height: 43px * @logo-normal-size;
  margin: 0;
  background-image: @img-logo-map;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

@media  (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx) {
  .leaflet-container .map-logo {
    width: 175px * @logo-retina-size;
    height: 43px * @logo-retina-size;
  }
}

a.leaflet-control-zoom-in,
a.leaflet-control-zoom-out {
  color: black;
  &:hover { color: black; text-decoration: none; }
}
