@black:                 #000;
@gray-darker:           lighten(#000, 13.5%); // #222
@gray-dark:             lighten(#000, 20%);   // #333
@gray:                  lighten(#000, 33.5%); // #555
@gray-light:            lighten(#000, 60%);   // #999
@gray-lighter:          lighten(#000, 93.5%); // #eee
@white:                 #fff;

@blue:                  #049cdb;
@blue-dark:             #0064cd;
@purple:                #7a43b6;

// Atlastory accent colors
@atlastory-magenta:     #ef3258;
@atlastory-orange:      #f67f23;
@atlastory-yellow:      #fed313;
@atlastory-lime:        #aecb35;
@atlastory-green:       #46b861;

@text-color:              @gray-dark;
@link-color:              @blue;
@link-hover-color:        darken(@link-color, 15%);

@font-family-base:        "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-size-base:          13px;
@line-height-base:        1.428571429; // 20/14
@line-height-computed:    floor((@font-size-base * @line-height-base)); // ~20px

@imgRoot:         "http://img.atlastory.com/Atlastory.js/v1";
@img-logo-map:    url('@{imgRoot}/logo-map.png');



.clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

// User select
// For selecting text on the page
.user-select(@select) {
  -webkit-user-select: @select;
     -moz-user-select: @select;
      -ms-user-select: @select;
       -o-user-select: @select;
          user-select: @select;
}

// Drop shadows
.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}
.box-shadow-out(@offsetTop: 1px, @offsetLeft: 0, @blur: 2px, @color: rgba(0,0,0,0.15)) {
          box-shadow: @offsetTop @offsetLeft @blur @color;
     -moz-box-shadow: @offsetTop @offsetLeft @blur @color;
  -webkit-box-shadow: @offsetTop @offsetLeft @blur @color;
}
.box-shadow-in(@offsetTop: 1px, @offsetLeft: 0, @blur: 2px, @color: rgba(0,0,0,0.15)) {
          box-shadow: inset @offsetTop @offsetLeft @blur @color;
     -moz-box-shadow: inset @offsetTop @offsetLeft @blur @color;
  -webkit-box-shadow: inset @offsetTop @offsetLeft @blur @color;
}

// Add an alphatransparency value to any background or border color (via Elyse Holladay)
#translucent {
  .background(@color: @white, @alpha: 1) {
    background-color: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
  }
  .border(@color: @white, @alpha: 1) {
    border-color: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
    .background-clip(padding-box);
  }
}

// Opacity
.opacity(@opacity: 100) {
       opacity: @opacity / 100;
        filter: e(%("alpha(opacity=%d)", @opacity));
-khtml-opacity: @opacity / 100;
  -moz-opacity: @opacity / 100;
    -ms-filter: %("progid:DXImageTransform.Microsoft.Alpha(Opacity=%s)", @opacity);
}

// Border Radius
.border-radius(@radius: 5px) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

// Single Corner Border Radius
.border-top-left-radius(@radius) {
  -webkit-border-top-left-radius: @radius;
      -moz-border-radius-topleft: @radius;
          border-top-left-radius: @radius;
}
.border-top-right-radius(@radius) {
  -webkit-border-top-right-radius: @radius;
      -moz-border-radius-topright: @radius;
          border-top-right-radius: @radius;
}
.border-bottom-right-radius(@radius) {
  -webkit-border-bottom-right-radius: @radius;
      -moz-border-radius-bottomright: @radius;
          border-bottom-right-radius: @radius;
}
.border-bottom-left-radius(@radius) {
  -webkit-border-bottom-left-radius: @radius;
      -moz-border-radius-bottomleft: @radius;
          border-bottom-left-radius: @radius;
}

// Single Side Border Radius
.border-top-radius(@radius) {
  .border-top-right-radius(@radius);
  .border-top-left-radius(@radius);
}
.border-right-radius(@radius) {
  .border-top-right-radius(@radius);
  .border-bottom-right-radius(@radius);
}
.border-bottom-radius(@radius) {
  .border-bottom-right-radius(@radius);
  .border-bottom-left-radius(@radius);
}
.border-left-radius(@radius) {
  .border-top-left-radius(@radius);
  .border-bottom-left-radius(@radius);
}

// Text shadows
.text-shadow (@offsetTop: 1px, @offsetLeft: 1px, @blur: 2px, @color: rgba(0,0,0,0.15)) {
     -moz-text-shadow: @offsetTop @offsetLeft @blur @color;
       -o-text-shadow: @offsetTop @offsetLeft @blur @color;
  -webkit-text-shadow: @offsetTop @offsetLeft @blur @color;
          text-shadow: @offsetTop @offsetLeft @blur @color;
}

.translate(@x; @y) {
  -webkit-transform: translate(@x, @y);
      -ms-transform: translate(@x, @y); // IE9 only
       -o-transform: translate(@x, @y);
          transform: translate(@x, @y);
}

.transition(@transition) {
  -webkit-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}

.transition-transform(@transition) {
  -webkit-transition: -webkit-transform @transition;
     -moz-transition: -moz-transform @transition;
       -o-transition: -o-transform @transition;
          transition: transform @transition;
}

.fade {
  opacity: 0;
  .transition(opacity .15s linear);
  &.in {
    opacity: 1;
  }
}

.collapse {
  display: none;

  &.in      { display: block; }
  tr&.in    { display: table-row; }
  tbody&.in { display: table-row-group; }
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  .transition(height .35s ease);
}
