
// --------------------------------------------
// TIMELINE

@zindexTime:      1000;

@timeHeight:      55px;
@timeRadius:      8px;
@timeCapWidth:    30px;
@timeTopGutter:   7px;
@timeHandleWidth: 27px;
@timeMargins:     0px;

@timeBG:          @blue;
@timeFG:          @white;
@timeSelection:   darken(@timeBG,20%);
@timeBorders:     1px solid darken(@timeBG,20%);
@timeMarkBorder:  1px solid @timeFG;

@ribbon-color:    @purple;
@ribbon-height:   10px;
@ribbon-top:      7px;

.timeline {
  visibility: hidden;
  position: absolute;
  top: @timeMargins; left: @timeMargins;
  width: 100%;
  clear: both;
  cursor: auto;
  z-index: @zindexTime;
  color: @timeFG;
  .user-select(none);

  .box {
    position: relative;
    height: @timeHeight;
    border-bottom: @timeBorders;
    #translucent > .background(@timeBG,0.9);
    //.box-shadow-out(2px, 2px, 1px);

    .container {
      position: absolute;
      left: 0; top: 0;
      height: @timeHeight;
      overflow-x: hidden;
      //overflow-y: visible;
    }
  }
}

.timeline .timescale {
  position: absolute;
  left: 0px;
  top: 0px;
  height: @timeHeight;
  z-index: @zindexTime + 2;
  overflow: hidden;
  .time {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .layer {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .label {
    position: absolute;
    bottom: 0px;
    z-index: @zindexTime + 3;
    border-left: @timeMarkBorder;
    font-size: 13px;
    line-height: 15px;
    padding-left: 3px;
    width: 45px;
  }
  .major {
    position: absolute;
    bottom: 0px;
    z-index: @zindexTime + 2;
    height: @timeHeight;
    border-left: @timeMarkBorder;
    .opacity(35);
  }
  .ribbon {
    position: absolute;
    top: @ribbon-top;
    height: @ribbon-height;
    box-sizing: border-box;
    #translucent > .background(@ribbon-color, 0.8);
    //background: @ribbon-color;
    border: 1px solid darken(@ribbon-color, 15%);
  }
}

.timeline .slider {
  position: absolute;
  top: -@timeTopGutter;
  height: @timeHeight + @timeTopGutter * 3.5;
  cursor: col-resize;
  &.drag {
    .selection {
      #translucent > .background(lighten(@timeBG,70%),0.25);
      .box-shadow(2px 0px 6px rgba(0,0,0,0.4));
    }
    .label {}
  }
  .top {
    position: absolute;
    left: -1px; top: 0px;
    width: 100%;
    height: @timeTopGutter - 2;
    border: 1px solid darken(@timeSelection,10%);
    #translucent > .background(@timeSelection,0.7);
    .border-top-radius(@timeRadius);
  }
  .label {
    position: absolute;
    left: -1px; bottom: 0px;
    width: 100%;
    height: @timeTopGutter * 2.5 - 4;
    z-index: @zindexTime + 5;
    border: 1px solid darken(@timeSelection,10%);
    #translucent > .background(@timeSelection,0.7);
    .border-bottom-radius(@timeRadius);
    padding-top: 2px;
    font-size: 10px;
    text-align: center;
    .text-shadow(1px, 1px, 1px,rgba(0,0,0,0.5));
    .box-shadow(2px 2px 4px rgba(0,0,0,0.4));
  }
  .selection {
    position: absolute;
    left: -1px; top: @timeTopGutter;
    width: 100%;
    height: @timeHeight;
    z-index: @zindexTime + 4;
    border-left: 1px solid fade(@white,25%);
    border-right: 1px solid fade(@black,25%);
    #translucent > .background(lighten(@timeBG,60%),0.2);
    .box-shadow(2px 0px 3px rgba(0,0,0,0.4));
    span {
      position: absolute;
      left: 50%; top: 0px;
      width: 0px;
      height: @timeHeight;
      border-left: 1px solid darken(@timeSelection,10%);
    }
  }
}
