
// --------------------------------------------
// TIMELINE

@zindexTime:      1000;

@timeHeight:      55px;
@timeRadius:      8px;
@timeCapWidth:    30px;
@timeTopGutter:   7px;
@timeHandleWidth: 27px;
@timeMargins:     0px;

@time-bg:         @gray-darker;
@time-color:      @gray-lighter;
@time-opacity:    75%;
@time-select:     darken(@time-bg, 20%);
@timeBorders:     1px solid darken(@time-bg, 20%);
@timeMarkBorder:  1px solid @time-color;
@time-marker:     1px solid @time-select;

@ribbon-color:    @blue;
@ribbon-height:   10px;
@ribbon-top:      7px;

@marker-top:      20px;
@marker-size:     6px;
@marker-color:    @white;
@marker-border:   1px solid @gray-dark;

.timeline {
  visibility: hidden;
  position: absolute;
  top: @timeMargins; left: @timeMargins;
  width: 100%;
  clear: both;
  cursor: auto;
  z-index: @zindexTime;
  color: @time-color;
  .user-select(none);

  .box {
    position: relative;
    height: @timeHeight;
    border-bottom: @timeBorders;
    #translucent > .background(@time-bg, @time-opacity);
    //.box-shadow-out(2px, 2px, 1px);

    .container {
      position: absolute;
      left: 0; top: 0;
      height: @timeHeight;
      overflow-x: hidden;
      //overflow-y: visible;
    }
  }
}

.timeline .timescale {
  position: absolute;
  left: 0px;
  top: 0px;
  height: @timeHeight;
  z-index: @zindexTime + 2;
  overflow: hidden;
  .time {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .layer {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .label {
    position: absolute;
    bottom: 0px;
    z-index: @zindexTime + 3;
    border-left: @timeMarkBorder;
    font-size: 13px;
    line-height: 15px;
    padding-left: 3px;
    width: 45px;
  }
  .major {
    position: absolute;
    bottom: 0px;
    z-index: @zindexTime + 2;
    height: @timeHeight;
    border-left: @timeMarkBorder;
    .opacity(35);
  }
  .ribbon {
    position: absolute;
    top: @ribbon-top;
    height: @ribbon-height;
    box-sizing: border-box;
    &.blue { background-color: fade(@ribbon-color, 20%); }
  }
  .marker {
    position: absolute;
    top: @marker-top;
    width: @marker-size;
    height: @marker-size;
    .border-radius(@marker-size);
    background-color: @marker-color;
    border: @marker-border;
  }
}

.timeline .slider {
  position: absolute;
  top: -@timeTopGutter;
  height: @timeHeight + @timeTopGutter * 3.5;
  cursor: col-resize;
  &.drag {
    .selection {
      #translucent > .background(@white, 30%);
      .box-shadow(2px 0px 6px rgba(0,0,0,0.4));
    }
    .label {}
  }
  .top {
    position: absolute;
    left: -1px; top: 0px;
    width: 100%;
    height: @timeTopGutter - 2;
    border: 1px solid darken(@time-select,10%);
    #translucent > .background(@time-select,0.7);
    .border-top-radius(@timeRadius);
  }
  .label {
    position: absolute;
    left: -1px; bottom: 0px;
    width: 100%;
    height: @timeTopGutter * 2.5 - 4;
    z-index: @zindexTime + 5;
    border: 1px solid darken(@time-select,10%);
    #translucent > .background(@time-select,0.7);
    .border-bottom-radius(@timeRadius);
    padding-top: 2px;
    font-size: 10px;
    line-height: 1em;
    text-align: center;
    .text-shadow(1px, 1px, 1px,rgba(0,0,0,0.5));
    .box-shadow(2px 2px 4px rgba(0,0,0,0.4));
  }
  .selection {
    position: absolute;
    left: -1px; top: @timeTopGutter;
    width: 100%;
    height: @timeHeight;
    z-index: @zindexTime + 4;
    border-left: 1px solid fade(@white, 25%);
    border-right: 1px solid fade(@black, 25%);
    #translucent > .background(@white, 20%);
    .box-shadow(2px 0px 3px rgba(0,0,0,0.4));
    span {
      position: absolute;
      left: 50%; top: 0px;
      width: 0px;
      height: @timeHeight;
      border-left: @time-marker;
    }
  }
}

.atlastory-accent(@color, @fade: 45%) {
  background-color: fade(@color, @fade);
  border: 1px solid fade(lighten(@color, 20%), @fade);
}

.atlastory-magenta { .atlastory-accent(@atlastory-magenta); }
.atlastory-orange { .atlastory-accent(@atlastory-orange); }
.atlastory-yellow { .atlastory-accent(@atlastory-yellow); }
.atlastory-lime { .atlastory-accent(@atlastory-lime); }
.atlastory-green { .atlastory-accent(@atlastory-green); }
